<div class="footer bg-white">
    <div class="w-11/12 mx-auto py-5">
      <h2 class="font-bold text-2xl">Get The FreshCart App</h2>
      <p class="text-gray-500">We will send you a link, Open it in your phone to download App</p>
  
      <div class="flex flex-wrap gap-y-2 my-4">
        <div class="w-full md:w-9/12">
          <input
            type="email"
            class="w-1/2 p-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-green-500"
            placeholder="Enter your Email"
          />
        </div>
        <div class="w-full md:w-3/12">
          <button class="bg-green-600 text-white w-full p-2 rounded-md hover:bg-green-700 transition">Share App Link</button>
        </div>
      </div>
  
      <hr class="my-4 border-gray-300" />
  
      <div class="flex items-center gap-3 flex-wrap">
        <p class="p-2 font-bold">Payment Partners</p>
        <img
          src="https://fresh-cart-one.vercel.app/static/media/americanexpress.23e3b98512ffad5d0ad1.png"
          class="h-6"
          alt="American Express"
        />
        <img
          src="https://fresh-cart-one.vercel.app/static/media/mastercard.c1c3f1e9c8aad6e536df.png"
          class="h-6"
          alt="MasterCard"
        />
        <img
          src="https://fresh-cart-one.vercel.app/static/media/paypal.e3abf7ded251409784b6.png"
          class="h-6"
          alt="PayPal"
        />
      </div>
  
      <p class="text-center p-3 text-gray-600">Copy Right 2024 © By Abdelrhman Rafaat All Rights Reserved</p>
    </div>
  </div>  